.hero-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  background: #FDC830;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left top, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left top, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
}

.hero-title {
  margin: 0;
}

.crunchy-container,
.rank-container {
  margin: 2rem 0;
}

.hero-text {
  width: 100rem;
}

.crunchy-path,
.rank-path {
  fill: #623CEA;
  opacity: 0.9;
  stroke: #FFFFF9;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

@media screen and (min-width: 62.5rem) {
  .hero-tile {
    height: 60vh;
  }
}

@media screen and (min-width: 70rem) {
  .hero-tile {
    height: 80vh;
  }
}
