.show-tile {
  background-color: #FFFFF9;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
  margin: 0.5rem 0;
  width: 100%;
}

.show-tile-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 100%;
}

.image-container {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.show-image {
  min-width: 4rem;
  min-height: 6rem;
  max-width: 4rem;
  max-height: 6rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

.show-tile-content {
  display: flex;
  justify-content: flex-start;
  margin: 0 1rem;
  width: 100%;
}

.show-title {
  display: block;
  font-weight: 700;
  margin: 0;
}

.show-description {
  display: none;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 0.5rem;
}

.rating-border {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-icon {
  height: 1.5rem;
}

.show-rank {
  font-size: 0.985rem;
  font-weight: 700;
  margin: 0;
}

.show-rating {
  margin: 0.25rem 0rem 0 0.35rem;
}

.show-link {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.watch-button {
  padding: 0.3rem 0.75rem;
  box-shadow: 0 0.05rem 0.15rem 0 rgba(0,0,0,.5);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #1B998B;
  color: #FFFFF9;
}

.watch-button:hover {
  background-color: #177E72;
  cursor: pointer;
}

@media screen and (min-width: 31rem) {
  .show-tile-content-container {
    padding: 1rem 0;
  }

  .image-container {
    margin-left: 1rem;
  }

  .rating-container {
    margin-right: 1rem;
  }

  .show-image {
    min-width: 5rem;
    min-height: 7.5rem;
    max-width: 5rem;
    max-height: 7.5rem;
  }

  .show-tile-content {
    flex-direction: column;
  }

  .show-description {
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 1.2rem;
    max-height: 3.6rem;
    text-align: justify;
    padding-right: 1rem;
  }

  .show-description:before {
    content: '...';
    position: absolute;
    right: 0.12rem;
    bottom: 0;
  }

  .show-description:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    margin-top: 0.2rem;
    background: #FFFFF9;
  }

  .watch-button {
    padding: 0.4rem 1rem;
  }
}

@media screen and (min-width: 37.5rem) {
  .show-title {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 48rem) {
  .show-image {
    min-width: 6rem;
    min-height: 9rem;
    max-width: 6rem;
    max-height: 9rem;
  }

  .show-tile-content {
    margin: 0 2rem;
  }

  .show-description {
    max-height: 4.8rem;
  }

  .watch-button {
    padding: 0.5rem 1.25rem;
  }
}

@media screen and (min-width: 48rem) {
  .show-image {
    min-width: 7rem;
    min-height: 10.5rem;
    max-width: 7rem;
    max-height: 10.5rem;
  }

  .show-tile-content {
    margin: 0 3rem 0 2rem;
  }

  .show-title {
    font-size: 1.5rem;
  }

  .show-rank {
    font-size: 1.25rem;
  }

  .watch-button {
    padding: 0.8rem 2rem;
  }
}
