.show-tile {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.even {
  background-color: #FFFFF9;
}

.image-container {
  min-width: 12.5rem;
  min-height: 18.625rem;
  max-width: 12.5rem;
  max-height: 18.625rem;
  margin: 0 2.5rem;
  display: flex;
  align-items: center;
}

.show-image {
  min-width: 10.5rem;
  min-height: 15.75rem;
  max-width: 10.5rem;
  max-height: 15.75rem;
  height: 100%;
  width: 100%;
}

.show-tile-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  width: 100%;
  flex: 4;
}

.show-tile.even {
  border-bottom: 2px solid #F27530;
  border-top: 2px solid #F27530;
}

.show-description {
  margin: 1rem 0;
}

.rating-container {
  flex: 1;
  align-self: center;
  height: 100%;
  min-height: 18.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating-border {
  border: 2px solid black;
  padding: 0 0.689rem;
  margin-bottom: 1.5rem;
}

.show-link {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.watch-button {
  padding: 0.5rem 1.5rem;
  box-shadow: 0 0.05rem 0.15rem 0 rgba(0,0,0,.5);
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #1B998B;
  color: #FFFFF9;
}

.watch-button:hover {
  background-color: #177E72;
  cursor: pointer;
}
