.show-list {
  margin: 0 10vw;
  background-color: #F0F0F0;
}

.even {
  background-color: #FFFFF9;
}

.show-tile-container:first-child .show-tile-content,
.show-tile-container:first-child .rating-container {
  border-top: none;
}
