.show-list {
  margin: 0 2.5vw;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-tile-container {
  width: 100%;
  max-width: 60rem;
}

.show-tile-container:first-child .show-tile-content,
.show-tile-container:first-child .rating-container {
  border-top: none;
}

.load-more {
  padding: 1rem 5rem;
  box-shadow: 0 0.05rem 0.15rem 0 rgba(0,0,0,.5);
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  background-color: #623CEA;
  color: #FFFFF9;
  margin: 1rem 0 2rem;
}

.load-more:hover {
  background-color: #482CAB;
  cursor: pointer;
}
